/* Esquemas de color del sitio */
$burguer-white: #FDFEFF;
$burguer-cyan: #00A2AF;
$burguer-yellow: #F6B502;
$burguer-dark: #3C3837;
$burguer-brown: #783901;


//Font Family
$open-sans: 'Open Sans', sans-serif; //Para los parrafos y texto general
//$mogra: 'Mogra', cursive;//Para los headings
$alfa-slab: 'Alfa Slab One', cursive;//Para los headings

//Font weight
$regular: 400;

//Font sizes
$xxx-large: 2.488rem;
$xx-large: 2.074rem;
$x-large: 1.728rem;
$large: 1.44rem;
$medium: 1.2rem;
$normal: 1rem;
$small: 0.833rem;
