.telefonos{
  text-align: right;
  background-color: #00A2AF;
  padding: 0px;
}

.telefonos i{
  margin-right: 5px;
}

.navbar img{
  max-width: 80px;
  max-height: auto;
}

.navbar{
border-bottom: 2px solid  $burguer-cyan;
}

.nav-item{
  font-family: $kreon;
  font-weight: $bold;
  font-size: $medium;
}
